body {
    background-color: #E4F9F5;
    margin: auto 500px;
    font-family: 'Merriweather', serif;
}

button {
    font-size: 25px;
    margin-left: 150px;
}

h1 {
    background-color: rgb(149, 176, 88);
}

#mylabel {
    font-size: 30px;
}

.searchme {
    font-size: 30px;
    padding: 3pt;
    width: 300px;
    font-size: 14pt;
}